body{
    background: #131313 url('/img/wall.svg');
    margin: 0;
    font-family: "Montserrat";
}
.heder{
    width: 70%;
    height: 69px;
    border-bottom: 1px solid #272727;
    margin: 0 auto;
    font-size: 15px;
    font-family: "Montserrat";
}
.logo, .nav, .nav-item{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.nav-item a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.3rem 0.3rem;
}
.logo{
    float: left;
    padding: 1rem 0;
}
.nav{
    float: right;
    overflow: auto;
    
}
table{
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 3rem;
    border-collapse: collapse; 
    border-color: #272727;
     width: 70%; /* Ширина таблицы */
     margin: auto; /* Выравниваем таблицу по центру */
    }
    tbody{
        border: 1px solid #272727;

    }

       td {
        border: 1px; 
        text-align: center; 
        border-bottom: 1px solid #272727;
    padding: 5px;
    font-size: 16px;
}
th{
    font-size: 13px;
    color: #727272;
}

.title{
    margin: 0 auto;
    color: #FFFFFF;
    margin-top: 90px;
    margin-bottom: 31px;
    width: 70%;
    height: 41px;
    font-size: 30px;
}
footer{
    width: 557px;
    height: 35px;
    margin: 0 auto;
    padding-top: 26px;
    
}
.numb, .numb1{
    display: inline-block;
    list-style: none;
    padding: 0 0.6rem;
   
}
.numb{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.numb1{
    color: #4F4F4F;/** змінює колір там де не треба**/
    text-transform: uppercase;
    text-decoration: none;
}
.f, .Ar, .Al{
    display: inline-block;
}
.Al, .Ar{
    padding: 0 1.2em;
}